html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: rgb(181, 166, 66);
  }
  
  header {
    font-size: 3.5em;
    font-family: FreeMono, monospace;
    margin: 20px;
  }
  
  header > span {
    color: #185e86;
  }
  
  .table-container {
    height: 750px;
    width: 500px;
  }
  
  #table-of-currencies {
    text-align: center;
  }
  
  .hidden {
    display: none;
  }
  
  .error {
    border: 2px solid midnightblue;
  }
